{% extends "site_base.html" %}
{% load i18n %}

{% block body %}
	<h1>How HiveScribe Works</h1>
	<section>
<p>Very simple. Say you have a video you want a transcript for…
<br>

1. Your video may be a file on a disk or already uploaded to Youtube. You go to http://

hivescribe.com and create an account by clicking on “I want a transcript!” button. Make 

sure you have a PayPal account; you’ll need it in Step 3!
</br>
<br>
2. Once you created your account you will get a confirmation email. Click on the link in 

the email to activate your account. You may now log in and go to your dashboard.
</br>
<br>
3. Put some money into your account. Simply click on “Fund my account” button. Then 

top it up with any amount from $10 to $999 Canadian dollars.
</br>
<br>
4. To add a video click on “Add a new video” button. Give a video name and location. 

Then put your bid on how much are you willing to pay. The transcriber will get paid 50% 

of that amount.
</br>
<br>
5. Once the video is added, it becomes available for our transcribers to work on. Once 

a transcriber finishes work, you will get an email notification and can download a 

transcript!
</br>
<br>
OR, if you want to become a transcriber:
</br>
<br>
1. Create a transcriber account by clicking on the “I want to transcribe” button. 
</br>
<br>
2. Once you created your account you will get a confirmation email. Click on the link in 

the email to activate your account. You may now log in and go to your dashboard.
</br>
<br>
3. To see if there are any videos available, click on “Work on Transcribe Tasks” button. 

You will see a list of videos that are currently available for transcription. Also you will 

see the rate for each video. Alternatively, you will be getting email notifications when 

there are new videos uploaded and available to caption
</br>
<br>
4. To transcribe a video click on the video name. Proceed to transcribe a video. Once you 

are done, click “Submit Task” button.
</br>
<br>
5. To get paid click on “Cash out” button. You will receive an email to the address 

you’ve used to register with the amount with the Paypal transfer within 24 hours.
</p>
	</section>
{% endblock %}