{% extends "site_base.html" %}

{% load url from future %}
{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{% trans "Add Video" %}{% endblock %}

{% block extra_script %}
    <script src="{{STATIC_URL}}js/assets/js/jquery-1.9.0.js"></script>
    <script type="text/javascript">        
        function send_request(){
          $.get(location.href, function(data){
            $("#idName").html(data.name);
            $("#idBirthday").html(data.birthday);
          });
        }    
    </script>

    
{% endblock %}s

{% block body %}

	<div class="row">
		<div class="span8">
			Object in template called without AJAX: {{object}}<hr/>
            <input type="button" onclick="send_request();" value="Request this page with AJAX" /><br/>
            <b>Name via AJAX:</b><span id="idName"></span><br/>
            <b>Birthday via AJAX:</b><span id="idBirthday"></span><br/>
		</div>
	</div>

{% endblock %}